html,
body {
  padding: 0;
  margin: 0;
  font-family: 'MS Reference Sans Serif', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    overflow-y: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p,li,img{
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  -webkit-user-drag: none;
  user-select: none;    
  user-drag: none;    
}

@font-face {
  font-family: 'MS Reference Sans Serif';
  src: url('../public/fonts/MSReferenceSansSerif.woff2') format('woff2'),
      url('../public/fonts/MSReferenceSansSerif.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
