@use "devices";

@include devices.lg {
  .flex {
    display: flex;
    //background-color: green;
  }
  .left {
    //background-color: yellow;
    width: 50%;
  }
  .right {
    //background-color: red;
    width: 50%;
    color: floralwhite;
    visibility: hidden;
  }
  @include devices.lg {
    .right {
      visibility: visible;
      padding: 0 30px 0 30px;
      display: flex;
      flex-direction: column;
      items-align: center;
      // border: 1px solid white;
      a {
        max-width: 350px !important;
      }
    }
  }
  .hireMe {
    font-size: 3rem;
    animation: glow 500ms alternate infinite ease-in-out;
  }

  @keyframes glow {
    0% {
      background-color: var(--light-green);
      background: linear-gradient(170deg, var(--light-green), #1979c7);
      background-size: 100%;
      background-clip: text;
      -moz-background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
    }
    50% {
      background-color: var(--light-green);
      background: linear-gradient(175deg, var(--light-green), #1979c7);
      background-size: 100%;
      background-clip: text;
      -moz-background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
    }
    100% {
      background-color: var(--light-green);
      background: linear-gradient(180deg, var(--light-green), #1979c7);
      background-size: 100%;
      background-clip: text;
      -moz-background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
    }
  }
}
