@use "devices";

.container {
  background-color: var(--middle-green);
  border: 1px solid var(--light-green);
  color: rgba(183, 214, 236, 0.86);
  padding: 0.5em 0.75em;
  position: relative;
  @include devices.md {
    max-width: 30vw;
    font-size: 20px;
    letter-spacing: 0.1ch;
  }
}
.level {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.header {
  gap: 10px;
}
.rating {
  margin-left: auto;
  //margin-right: 1em;
  border: 1px solid rgba(255, 193, 0, 0.86);
  padding: 0.1em 0.5em;
  gap: 7px;
  color: rgba(255, 193, 0, 0.86);
  font-size: 1.1em;
}
.country {
  margin-left: 2.5em;
  margin-top: 0.5em;
  font-size: 0.7em;
}
.hr {
  border-color: #2a9d8f;
}
.comment {
  line-height: 1.5em;
  font-size: 0.8em;
  padding: 0.5em 2.4em;
}
.footer {
  display: flex;
  //border: 2px solid white;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: 2em;
  padding: 0.2em 0.5em;
  position: absolute;
  bottom: 0;
  right: 0;
}
.externalLink {
  text-decoration: none !important;
  padding: 0px;
  margin: 0px;
}
