@use "devices";

.container {
  //border: 1px solid red;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 25px;
  // height: 64vh;
  // overflow-y: scroll;
  @include devices.md {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
